
/* Link */
.category a {
  margin: 0px 5px 0px 0px;
}

/* テキストフィールド */
.login_text_field {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #aaa;
  padding: 5px;
  width: 100px;
}

/* パスワードフィールド */
.login_password_field {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #aaa;
  padding: 5px;
  width: 100px;
}

iframe {
  text-align: left;
}

.menu a {
  color: #70c0ff;
  border: 1px solid #70c0ff;
}

.menu a:hover {
  color: #fff;
  background: #70c0ff repeat-x;
}

.now_page a {
  color: #fff;
  background: #70c0ff repeat-x;
  text-decoration: none;
}
