body {
  background-color: #fff;
  color: #000;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



pre {
  background-color: #f0f0f0;
  padding: 0px;
  font-size: 14px;
}

td {
  #border: 1px solid #00afcc;
  padding: 5px;
}

a {
  color: #00afcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu a {
  #top: 0px;
  #left: 0px;
  width: 40px;
  line-height: 12px;
  margin: 0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: #00afcc;
  #color: #40E0D0;
  background: #fff repeat-x;
  #background: #00afcc repeat-x;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  #-moz-box-shadow: 3px 3px 5px #555;
  #-webkit-box-shadow: 3px 3px 5px #555;
  #cursor: pointer;
  border: 1px solid #00afcc;
}

.menu a:hover {
  color: #fff;
  background: #00afcc repeat-x;
  #background: #40E0D0 repeat-x;
  border: 1px solid #00afcc;
}

.delete a {
  color: #f00;
  background: #fff repeat-x;
  border: 1px solid #f00;
}

.delete a:hover {
  color: #fff;
  background: #f00 repeat-x;
  border: 1px solid #f00;
}

div {
  display: inline-block;
}

#title {
  font-family: "Times New Roman", verdana, arial, helvetica, sans-serif;
  font-style: italic;
  font-size:   25px;
  line-height: 25px;
}

#menu_title {
  font-size:   18px;
  line-height: 18px;
}