<span class="menu list"><%= link_to $link[:list], "/public/list/#{@category}" %></span><br />

<br />

<span class="menu_title"><%=h @memo.title %></span><br />
<pre class="pre_style"><%=h @memo.note %></pre>

<span class="menu list"><%= link_to $link[:list], "/public/list/#{@category}" %></span>
